---
import { Image } from "astro:assets";
import type { SocialLinkProps } from "../interfaces/interface.ts";
const { icon, url, width, height, altText} = Astro.props as SocialLinkProps;
---

<a href={url} class="inline-block">
    <img
      src={icon}
      alt={altText}
      width={width}
      height={height}
      class="rounded-lg shadow-lg transform transition-all duration-300 hover:scale-95 hover:opacity-80"
    />
  </a>
