---
import { getCollection, type CollectionEntry } from "astro:content";
import "../../styles/projects.css"
import Layout from "../../layouts/Layout.astro";

type Project = CollectionEntry<'projects'> & {
    render: ()=>Promise<{Content: any; headings: any[]}>
} & {slug: string};

export async function getStaticPaths() {
    const projectEntries: Project[] = await getCollection('projects');
    return projectEntries.map(entry=> ({
        params: {slug: entry.slug},
        props: {entry}
    }));
}

interface Props{
    entry: Project
}

const {entry} = Astro.props;
const {Content, headings} = await entry.render();

---

<Layout>
    <div class="max-w-4xl mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-secondary-yellow mb-4">{entry.data.title}</h1>
        <p class="text-xl text-primary-white mb-8">{entry.data.description}</p>
    
        <nav class="toc mb-8 bg-background-bluedark p-5 rounded-lg">
          <h2 class="text-2xl font-semibold mb-4 text-secondary-yellow">Tabla de contenido</h2>
          <ul class="space-y-2">
            {headings.map((heading: any) => (
              <li class={`toc-level-${heading.depth} ml-${(heading.depth - 1) * 4}`}>
                <span class="text-secondary-yellow">⦿</span>
                <a href={`#${heading.slug}`} class="text-primary-white hover:text-tertiary-lightblue transition-colors">
                  {heading.text}
                </a>
              </li>
            ))}
          </ul>
        </nav>

        <article class="text-primary-white">
          <Content />
        </article>
      </div>
</Layout>